.submit {
    margin-top: 30em;
    margin-left: 60em;
}

.submit label {
    font-size: 1.5em;
}

.display {
    margin-left: 60em;
}

.display p {
    font-size: 1.5em;
}

.display h2 {
    font-size: 1.5em;
}